@model List<ForgingAhead.Models.Character>

@section header{
	 <meta name="description" context="Lists all characters in ForgingAhead." >
}

<h2>All Character</h2>

<a asp-controller="Character" asp-action="Create">Create new character</a>

<ul>
	@foreach (var c in Model){
		 <li>
		 <a asp-action="Details" asp-controller="Character" asp-route-id="@c.Id">
		    @c.Name
		 </a></li>
		 }
</ul>


<table class="table">
       <thread><tr>
	<th>Character</th>
	<th>Action</th>
	</tr></thread>
	@foreach (var c in Model){
		 <tr>
			<td>@c.Name</td>
		<td>
			<a asp-action="Edit" asp-route-id="@c.Id">Edit</a> |
			<a asp-action="Details" asp-route-id="@c.Id">Details</a> |
			<a asp-action="Delete" asp-route-name="@c.Name">Delete</a>
		</td>
		</tr>
		}
<table>